<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kirpputori - Rekisteröidy</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="custom-container">
        <h1 class="text-center m-4 text-success">Kirpputori</h1>
        <div class="jumbotron">
            <h3 class="text-center text-primary">Rekisteröintilomake</h3>
            <br>
            {{!-- Display errors --}}
            {{!-- if condition --}}
            {{#if errors}}
                {{!-- Foreach loop --}}
                {{#each errors}}
                    <div class="alert alert-danger alert-dismissible fade show">
                        <strong>{{msg}}</strong>
                        <button class="close" data-dismiss="alert"><span>&times;</span></button>
                    </div>
                {{/each}}
                {{!-- End Foreach loop--}}
            {{/if}}
            {{!-- End If Condition --}}
            
            <form method="post" id="registration" action="">
                <div class="form-group">
                    <label for="fname" aria-label="kirjoita etunimesi" >Etunimi <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="Kirjoita etunimesi" value="{{fname}}">
                </div>
                <div class="form-group">
                    <label for="mname" aria-label="kirjoita toiset nimesi">Muut nimet</label>
                    <input type="text" class="form-control" id="mname" name="mname" placeholder="Kirjoita muut nimet" value="{{mname}}">
                </div>
                <div class="form-group">
                    <label for="lname" ria-label="kirjoita sukunimesi">Sukunimi <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Kirjoita sukunimesi" value="{{lname}}">
                </div>
                <div class="form-group">
                    <label for="email" aria-label="kirjoita sähköpostiosoitteesi" >Sähköposti <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Kirjoita sähköpostisi" value="{{email}}">
                </div>
                <div class="form-group">
                    <label for="mobile" aria-label="kirjoita puhelinnumerosi">Puhelinnumerosi <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Matkapuhelinnumerosi" value="{{mobile}}">
                </div>
                <div class="form-group">
                    <label for="password" aria-label="kirjoita haluamasi salasana">Salasana <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Salasanasi"value="{{password}}">
                </div>
                <div class="form-group">
                    <label for="cpassword" aria-label="vahvista salasanasi kirjoittamalla se uudelleen">Vahvista salasana <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Sama salasana uudelleen" value="{{cpassword}}">
                </div>
                <div class="form-group">
                    <input type="submit" aria-label="Rekisteröidy" value="Rekisteröidy!" class="btn btn-info btn-block">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            Oletko jo rekisteröitynyt? Kirjaudu <a href="/">täältä</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    setTimeout(() => {
        $('.alert').remove();
    }, 3000)
</script>

</html>