<table id="kirppisTuotteet">
  <thead>
    <tr>
        <th>ID</th>
        <th>Nimi</th>
        <th>Hinta</th>
        <th>P채iv채ys</th>
        <th>Kuvaus</th>
        <th>Poista tuote</th>
    </tr>
  </thead>
  <tbody>
    {{#each tuotteet}}
      <tr>
        <td>{{this._id}}</td>
        <td>{{this.nimi}}</td>
        <td>{{this.hinta}}</td>
        <td>{{this.paivays}}</td>
        <td>{{this.kuvaus}}</td>
        <td>
          <!--- T채st채 jatkuu --->
          <form action="www.google.fi">
            <button>Googleen</button>
        </td>
      </tr>
    {{/each}}
  </tbody>