<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tuotteet</title>
</head>
<body>
{{!-- Navigation bar sivun ylälaidassa. Löytyy partials kansiosta --}}
  {{> adminNavigation}} 
  <table id="kirppisTuotteet">
    <thead>
      <tr>
          <th>ID</th>
          <th>Nimi</th>
          <th>Hinta</th>
          <th>Päiväys</th>
          <th>Kuvaus</th>
          <th>Kuva</th>
          <th>Toiminnot</th>
      </tr>
    </thead>
    <tbody>
      {{#each tuotteet}}
        <tr>
          <td>{{this._id}}</td>
          <td>{{this.nimi}}</td>
          <td>{{this.hinta}}</td>
          <td>{{this.paivays}}</td>
          <td>{{this.kuvaus}}</td>
          <td>
            <a href="#" onclick="showImagePopup('/uploads/{{this.kuva}}'); return false;">
            <img src="/uploads/{{this.kuva}}" alt="Kuva">
            </a>
          </td>
          <td><button onclick="poistaTuote('{{this._id}}')">Poista</button><button onclick="muokkaa('{{this._id}}')">Muokkaa</button></td>       
        </tr>
      {{/each}}
    </tbody>
  </table>
</body>







<!-- JavaScript -->
<script>
    function showImagePopup(imageUrl) {
        // Luo uusi ikkuna ja aseta sen ominaisuudet
        var popup = window.open(imageUrl, '_blank', 'width=600,height=400,scrollbars=no,resizable=no');
        // Estä linkin oletusarvoinen toiminta
        return false;
    }
</script>

<script>
function poistaTuote(id) {
    if (confirm("Haluatko varmasti poistaa tuotteen?")) {
        fetch(`/tuotteet/${id}`, { method: 'DELETE' })
            .then(() => location.reload());
    }
}

// Kaipaa hienosäätöä ja syötteiden validointeja 
function muokkaa(id){
    var nimi = prompt("Nimi?", id)
    var hinta = prompt("Hinta?")
    var paivamaara = prompt("Päivämäärä?")
    var kuvaus = prompt("Kuvaus?")
    if (confirm("Muokkaa riviä?")){
          fetch(`/tuotteet/${id}`, {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              nimi: nimi,
              hinta: hinta,
              paivays: paivamaara,
              kuvaus: kuvaus
            })
          })
          .then(() => location.reload());
    }
}
</script>