<table id="kirppisTuotteet">
  <thead>
    <tr>
        <th>ID</th>
        <th>Nimi</th>
        <th>Hinta</th>
        <th>Päiväys</th>
        <th>Kuvaus</th>
        <th>Poista tuote</th>
    </tr>
  </thead>
  <tbody>
    {{#each tuotteet}}
      <tr>
        <td>{{this._id}}</td>
        <td>{{this.nimi}}</td>
        <td>{{this.hinta}}</td>
        <td>{{this.paivays}}</td>
        <td>{{this.kuvaus}}</td>
        <td><button onclick="poistaTuote('{{this._id}}')">Poista</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script>
function poistaTuote(id) {
    if (confirm("Haluarko varmasti poistaa tuotteen?")) {
        fetch(`/tuotteet/${id}`, { method: 'DELETE' })
            .then(() => location.reload());
    }
}
</script>